{% extends 'layouts/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'podcasts/css/styles.css' %}" />
{% endblock css %} {% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Top Podcasts</h1>
                <p class="lead text-muted">
                    These are the best python podcasts trending all over the world curated
                    just for you.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="container flex-grow-1">
        <div class="row">
            <div class="col">
                {% for episode in episodes %}
                <div class="card {% if episode.featured %}card_red{% endif %} mb-3 shadow-sm rounded-3">
                    <div class="row no-gutters">
                        <div class="col-md-2 my-auto">
                            <img src="{{ episode.image }}" class="img-fluid ml-3" alt="{{ episode.podcast_name }}" />
                        </div>
                        <div class="col-md-10">
                            <div class="card-body ml-3">
                                <h3 class="card-title">{{ episode.title }}</h3>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ episode.pub_date }}
                                </h6>
                                <p class="card-text">{{ episode.description }}</p>
                                <a href="{{ episode.link }}" target="_blank" class="card-link text-decoration-none">
                                    🎧 Listen to Podcast
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}